body {

  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Прибираємо горизонтальний скрол */
}

h1, h2, h3 {
  color: #333;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: #00A5FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #007ACC;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container {
  margin-top: 60px; /* Відступ під хедер */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Мінімальна висота без хедера */
  padding: 20px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button, a {
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .course-list {
    grid-template-columns: 1fr;
  }
}

.logo a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  list-style: none;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px; /* Відстань між пунктами меню */
  margin: 0;
  padding: 0;
}

.nav li {
  color: #333;
}

.nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.nav a:hover {
  text-decoration: none;
  color: #007bff; /* Колір при наведенні */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.home {
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* CSS для карток курсів */
.MuiCard-root {
  margin: 16px;
  transition: transform 0.3s;
}

.MuiCard-root:hover {
  transform: scale(1.05);
}